site_name: Gardener on Metal Documentation
repo_url: https://github.com/onmetal/documentation/
edit_uri: edit/main/docs/
theme:
  name: material
  logo: assets/logo.png
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: white
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode
  font:
    text: 'Work Sans'

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.snippets
  - codehilite
  - admonition
  - abbr
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Compute:
    - Idea: compute/idea.md
    - Hardware onboarding: compute/onboarding.md
    - OOB Management: compute/oob.md
    - Virtualization: compute/virtualization.md
  - Network:
    - Idea: network/idea.md
    - Encapsulation: network/encapsulation.md
    - Routing: network/routing.md
    - NIC Offloading: network/nics.md
    - DDoS Protection: network/ddos.md
  - Storage: storage.md
  - API: api/api.md
  - Operations Manual:
    - Introduction: manual/intro.md
    - Virtualization:
      - Installation: manual/virtualization/usage.md
    - Harbor:
      - Installation: manual/harbor/chart_museum.md
      - Usage: manual/harbor/docker_registry.md
    - Virtual Controlplane: https://onmetal.github.io/virtual-controlplane/
